<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamicweb" version="9.9.12" targetFramework="net472" />
  <package id="Dynamicweb.Analytics" version="2.0.9" targetFramework="net472" />
  <package id="Dynamicweb.Caching" version="2.4.6" targetFramework="net472" />
  <package id="Dynamicweb.Configuration" version="3.1.1" targetFramework="net472" />
  <package id="Dynamicweb.Core" version="3.0.0" targetFramework="net472" />
  <package id="Dynamicweb.Core.UI" version="2.0.0" targetFramework="net472" />
  <package id="Dynamicweb.Data" version="1.8.2" targetFramework="net472" />
  <package id="Dynamicweb.DataProcessing" version="1.0.12" targetFramework="net472" />
  <package id="Dynamicweb.Diagnostics" version="3.2.1" targetFramework="net472" />
  <package id="Dynamicweb.Ecommerce" version="1.7.8" targetFramework="net472" />
  <package id="Dynamicweb.Environment" version="3.5.1" targetFramework="net472" />
  <package id="Dynamicweb.Extensibility" version="4.0.1" targetFramework="net472" />
  <package id="Dynamicweb.Hosting" version="2.0.0" targetFramework="net472" />
  <package id="Dynamicweb.Imaging" version="6.1.0" targetFramework="net472" />
  <package id="Dynamicweb.Indexing" version="3.10.0" targetFramework="net472" />
  <package id="Dynamicweb.Logging" version="4.8.5" targetFramework="net472" />
  <package id="Dynamicweb.Mailing" version="3.0.9" targetFramework="net472" />
  <package id="Dynamicweb.Rapido" version="6.33.1" targetFramework="net472" />
  <package id="Dynamicweb.Scheduling" version="3.0.1" targetFramework="net472" />
  <package id="Dynamicweb.Security" version="10.2.0" targetFramework="net472" />
  <package id="Dynamicweb.SmartSearch" version="1.2.6" targetFramework="net472" />
  <package id="Dynamicweb.UI.Elements" version="2.12.6" targetFramework="net472" />
  <package id="Dynamicweb.UserManagement" version="2.2.2" targetFramework="net472" />
  <package id="Dynamicweb.WebP" version="1.0.0" targetFramework="net472" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis" version="1.0.0-rc2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0-rc2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0-rc2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.0.0-rc2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0-rc2" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.2.1" targetFramework="net472" />
  <package id="RazorEngine" version="4.5.0-rc1" targetFramework="net472" />
  <package id="RazorEngine.Roslyn" version="4.1.1-rc1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.0.18-beta" targetFramework="net472" />
  <package id="TaskScheduler" version="2.8.18" targetFramework="net472" />
</packages>