<LessConfiguration>
  <DesignName>RapidoPIM</DesignName>
  <Minification>true</Minification>
  <WebsiteSettingsVariablesFileOutputPath>Files/Templates/Designs/RapidoPIM/css/rapido/abstracts</WebsiteSettingsVariablesFileOutputPath>
  <LessFilesFolder>/Files/Templates/Designs/RapidoPIM/css/rapido/</LessFilesFolder>
  <VariableFiles>/Files/Templates/Designs/RapidoPIM/css/rapido/_variables_1.auto.less,/Files/Templates/Designs/Rapido/css/base/abstracts/_variables.less</VariableFiles>
  <OutputPath>/Files/Templates/Designs/RapidoPIM/css/rapido/</OutputPath>
  <UseCleanVariableNaming>false</UseCleanVariableNaming>
</LessConfiguration>